{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
<!--    <link rel="stylesheet" href="authorization.css">-->
    <link rel="stylesheet" href="{% static 'main/css/authorization.css' %}">
</head>
<body>
<!--    <div xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--    <small th:text="${error}" class="text-danger"></small>-->
    <form class="box" action="data/index" method="post">
        {% csrf_token %}
            <h1>Вхід</h1>
        <input type="text" name="username" id="username" placeholder="Логін">
        <input type="password" name="password" id="password" placeholder="Пароль">
        <input type="submit" name="" value="Увійти" >
    </form>
<!--    </div>-->
</body>
</html>

