{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Gr{% endblock %}

{% block content %}
<main class="container">
    <form method="post" action="{% url 'graphic_info' %}">
                {% csrf_token %}
        <p>Регіон:
            <select name="city" required="required">
                <option value="">Виберіть регіон</option>
                <option value="kharkiv">Харків</option>
                <option value="2">Зеленый</option>
                <option value="3">Желтый</option>
                <option value="4">Красный</option>
                <option value="5">Оранжевый</option>
                <option value="6">Черный</option>
            </select>
            <!--            href="{% url 'city_index' 'kharkiv' %}"-->
        </p>
        <p>Виберіть проміжок:
            <input type="date" name="calendar" value="2012-01-01"
                   max="2012-12-31" min="2012-01-01">

            <input type="date" name="calendar" value="2012-01-01"
                   max="2012-12-31" min="2012-01-01">
            <input type="submit" value="Відправити"></p>
    </form>
<!--    <a href="{% url 'graphic_info' %}">ggggggg</a>-->
    <form method="POST" action="{% url 'graphic_info' %}">{% csrf_token %}
        {{ form.as_p }}
<!--{{ form.non_field_errors }}-->
<!--{% for f in form %}-->
<!--{{f.label}}: {{ f }}-->

<!--{{ f.errors }}-->
<!--{% endfor %}-->
        <button type="submit" class="">Save</button>
    </form>
</main>
{% endblock %}
