<style>
    .ggg{
    color: red;
  }
</style>
{% extends 'main/layout.html' %}
{% load static %}

{% block title %}info{% endblock %}

{% block content %}
    <h2>{{ city }}</h2>
    <p>З <span class="sp">{{ date1 }}</span></p>
    <p>До <span class="sp">{{ date2 }}</span></p>
<div><img src="{% static 'wea/img/demo_1.png' %}" alt="1"></div>
<div><img src="{% static 'wea/img/demo_2.png' %}" alt="2"></div>
<div><img src="{% static 'wea/img/demo_3.png' %}" alt="3"></div>
<div><img src="{% static 'wea/img/demo_4.png' %}" alt="4"></div>
{% endblock %}
