<style>
    .ggg{
    color: red;
  }
  .info-form{
    text-align:center;
    }
    .info-form p{
        color: grey;
        font-size:20px;
        font-weight:400;
    }
  .graph-photo{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
    align-items:center;
    }
.graph-photo img{
    width:50%;
    margin:20px 0
    }





</style>
{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Звіт{% endblock %}

{% block content %}
<div class="info-form">
    <h1>{{ city }}</h1>
    <p><span class="sp">{{ date1 }}</span> - <span class="sp">{{ date2 }}</span></p>
</div>
<div class="graph-photo">
    <img src="{% static 'wea/img/demo_1.png' %}" alt="1">

    <div class="container">
        <table class="table table table-bordered table-success">
            <tr>
                Таблиця "Тривалість температурних режимів":
            </tr>
            <tr>
                <td class="name">Температура, <sup>o</sup>С</td>
                {%for i in d2 %}
                <td>{{i.0}}</td>
                {%endfor%}
            </tr>
            <tr>
                <td class="name">Час, год</td>
                {%for i in d2 %}
                <td>{{i.1}}</td>
                {%endfor%}
            </tr>

        </table>
    </div>
    <img src="{% static 'wea/img/demo_2.png' %}" alt="2">

    <img src="{% static 'wea/img/demo_3.png' %}" alt="3">

    <div class="container">
        <table class="table table table-bordered table-success">
            <tr>
                Таблиця "Тривалість режимів вітрової активності":
            </tr>
            <tr>
                <td class="name">Швидкість, м/с</td>
                {%for i in d4 %}
                <td>{{i.0}}</td>
                {%endfor%}
            </tr>
            <tr>
                <td class="name">Час, год</td>
                {%for i in d4 %}
                <td>{{i.1}}</td>
                {%endfor%}
            </tr>
        </table>
    </div>
    <img src="{% static 'wea/img/demo_4.png' %}" alt="4">
</div>

<a href="{% url 'report' %}">Відправити звіт</a>
<!--<a>{{ request.path }}</a>-->
{% endblock %}
