

{% extends 'main/layout.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<!--<div class="features">-->
<!--&lt;!&ndash;    <h1>Головна сторінка</h1>&ndash;&gt;-->
<!--    <p>Виберіть місяць для перегляду даних</p>-->
<!--    <form action="formdata" method="post" id="data"></form>-->

<!--<p><select name="list1" form="data">-->
<!--    <option>Виберіть із списку</option>-->
<!--    <option value="1">Січень</option>-->
<!--    <option value="2">Лютий</option>-->
<!--    <option value="3">Березень</option>-->
<!--    <option value="4">Квітень</option>-->
<!--    <option value="5">Травень</option>-->
<!--    <option value="6">Червень</option>-->
<!--    <option value="7">Липень</option>-->
<!--    <option value="8">Серпень</option>-->
<!--    <option value="9">Вересень</option>-->
<!--    <option value="10">Жовтень</option>-->
<!--    <option value="11">Листопад</option>-->
<!--    <option value="12">Грудень</option>-->


<!--</select></p>-->
<!--<p><input type="submit" value="Отримати дані" form="data"></p>-->


<!--</div>-->






    <div class="features">
        <h1>{{city}}</h1>
        <div class="">
                <a href="{% url 'data_home' city '01' %}"><button class="btn btn-info">Січень</button></a>
                <a href="{% url 'data_home' city '02' %}"><button class="btn btn-info">Лютий</button></a>
                <a href="{% url 'data_home' city '03' %}"><button class="btn btn-info">Березень</button></a>
                <a href="{% url 'data_home' city '04' %}"><button class="btn btn-info">Квітень</button></a>
                <a href="{% url 'data_home' city '05' %}"><button class="btn btn-info">Травень</button></a>
                <a href="{% url 'data_home' city '06' %}"><button class="btn btn-info">Червень</button></a>
             </div>
         <p>                                                    </p>
        <div class="">
                <a href="{% url 'data_home' city '07' %}"><button class="btn btn-info">Липень</button></a>
                <a href="{% url 'data_home' city '08' %}"><button class="btn btn-info">Серпень</button></a>
                <a href="{% url 'data_home' city '09' %}"><button class="btn btn-info">Вересень</button></a>
                <a href="{% url 'data_home' city '10' %}"><button class="btn btn-info">Жовтень</button></a>
                <a href="{% url 'data_home' city '11' %}"><button class="btn btn-info">Листопад</button></a>
                <a href="{% url 'data_home' city '12' %}"><button class="btn btn-info">Грудень</button></a>
        </div>

    </div>





<!--    {% include 'main/test.html' %}-->
{% endblock %}