{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Головна сторінка{% endblock %}

{% block content %}
<style>
    .city{
         font-size: 1.7em;
    }
    .col{
        text-align: left;
    }
    .alert alert-info{
        top:150%;
        }
</style>
<div>

    <div class="row">


<!--        <h1 class="col-5 offset-2" >Погода</h1>-->
        <div class="col-5 offset-2">
            {% for info in all_info %}
            <div class="alert alert-info">
                <div class="col">
                    <div class="col-8">

                        <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоди">
                        <span class="city"><b> {{ info.city }}</b></span><br>

                        <b>Температура: </b>{{ info.temp }}<sup>o</sup>C<br>
                        <b>Атмосферний тиск: </b>{{ info.pressure}}кПа<br>
                        <b>Вологість повітря: </b>{{ info.humidity }}%<br>
                        <b>Швидкість вітру: </b>{{ info.speed }}м/с<br>
                    </div>
<!--                    <div class="col-10">-->
<!--                        <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоди">-->
<!--                    </div>-->
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col-5 offset-2">
            <form  method="post">
<!--                <label for="city">Місто</label>-->
                {% csrf_token %}
                {{ form.name }}

                <input type="submit" name="send" value="Погода" class="mt-2 btn btn-info">
            </form>
        </div>
    </div>
</div>
{% endblock %}




