body {
    background:#F4F8F9;
}
aside{
    float: left;
    background:#6D6D6D;
    width: 205;
    padding: 2.5%;
    height: 100vh;
    color:#fff;
    border-right: 5px solid #A6A5AD;
}
aside img{
    width: 80px;
    float: left;
    filter: #1808CE;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3{
    top: 20px;
    position: static;
    margin-top: 50px;
    font-size: 28 px;
}
aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top:20px;
    transition: transform .6s ease;

}
a { text-decoration: none; }

aside ul li:hover, aside ul a:hover{
    color: #211F1F;
    transform: scale(1.05);
}
main .features{
    float: left;
    color: #000000;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}


main .features h1{font-size: 50px}

main .features p{max-width:400px; margin: 20px auto}


