{% extends 'main/layout.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<div class="features" xmlns:th="http://www.w3.org/1999/xhtml">
    <p>Виберіть інтерполяцію</p>
<!--    <form action="int" method="post" id="data">-->
<!--{% csrf_token %}-->
<!--        </form>-->
<!--<select id="inter" name="list1" form="data">-->

<!--    {%for e in values%}-->
<!--        <option href="'/data/interpolate/'+${e}" value="${e}">{{e}}</option>-->
<!--    {%endfor%}-->
<!--</select>-->

        {%for e in values%}
            <button th:href="/data/interpolate/{{e}}">{{e}}</button>
        {%endfor%}

</div>


<!--    {% include 'main/test.html' %}-->
{% endblock %}