{% extends 'main/layout.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<div class="features" xmlns:th="http://www.w3.org/1999/xhtml">
    <p>{{int}}</p>

    <p>Виберіть інтерполяцію, якщо бажаєте змінити</p>

        <div>
            <a href="{% url 'data_interpolate' 'linear' %}" class="btn-btn-danger">Лінійна</a>
            <a href="{% url 'data_interpolate' 'polynomial' %}" class="btn-btn-danger">Поліноміальна</a>
            <a href="{% url 'data_interpolate' 'cubic' %}" class="btn-btn-danger">Кубічна</a>
            <a href="{% url 'data_interpolate' 'spline' %}" class="btn-btn-danger">Сплайн-інтерполяція</a>
            </div>

</div>


<!--    {% include 'main/test.html' %}-->
{% endblock %}