<!DOCTYPE html>
<html lang="en">
<head>
  <title>Таблиця</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Таблиця за запитом</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Пошук даних...">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Дата і час</th>
        <th>t,<sup>o</sup>C</th>
        <th>Напрям вітру</th>
        <th>Швидкість вітру, м/с</th>
      </tr>
    </thead>
    <tbody id="myTable">
    {%for i in values %}
      <tr>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
      </tr>
    {%endfor%}
    </tbody>
  </table>

  <p></p>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



</body>
</html>